html {
	box-sizing: border-box;
}

body {
	background: #272727;
	border: 1px solid #272727; //Escape margin collapse
	color: white;
}

.container {
	border: 1px solid red;
	width: 80%;
	margin: 30px auto;
}

.ballsLine {
	border: 1px solid red;
	display: flex;
	justify-content: center;
	padding: 25px;
}
.ballElement {
	display: flex;
	align-items: center;
	margin-left: 5px;
}
.rope {
	width: 20px;
	height: 2px;
	background: red;
}
.ball {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: relative;
	&:after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		border-radius: 50%;
		background: hsla(0,0,255, 0);
	}
}

.block {
	border: 1px solid red;
	display: block;
	margin-top: 50px;
}

.controls {
  display: flex;
  justify-content: center;
}

.button {
    display: inline;
	border: 1px solid red;
	min-width: 50px;
	height: 50px;
	border-radius: 5px;
	line-height: 50px;
	margin-left: 15px;
	text-align: center;
	font-size: 35px;
	font-weight: bold;
	cursor: pointer;
	user-select: none;
}

.template {
	display: none;
}

.edit-menu {
  opacity: 1;
  display: flex;
  justify-content: space-around;
  transition: 0.2s linear all;
}

.colors-container {
  display: flex;
}

.sizes-container {
  display: flex;
}

.disabled {
  opacity: 0;
  height: 0;
}

/* Keyframessss */
@keyframes flying {
	0% {
		top: 0;
	}
	25% {
		top: -12px;
	}
	50% {
		top: 0;
	}
	75% {
		top: 12px;
	}
	100% {
		top: 0;
	}
}
@keyframes glowing {
	0% {
		background: hsla(0,0,255, 0);
	}
	50% {
		background: hsla(0,0,255, 0.95);
	}
	100% {
		background: hsla(0,0,255, 0);
	}
}


/* Animation classes */
.flyingBallAnim {
	animation: flying 6s cubic-bezier(.3,.72,.85,.79) infinite;
	&.even {
		animation-direction: reverse;
	}
}
.glowingAnim:after {
	animation: glowing 2s cubic-bezier(.3,.72,.85,.79) infinite;
}

/* Colors */
.crimson {
	background: crimson;
}
.yellowgreen {
	background: yellowgreen;
}
.green {
	background: green;
}
.purple {
	background: purple;
}