html {
	box-sizing: border-box;
}

body {
	background: #272727;
	border: 1px solid #272727; //Escape margin collapse
	color: white;
}

.container {
	border: 1px solid red;
	width: 80%;
	margin: 30px auto;
}

.ballsLine {
	border: 1px solid red;
	display: flex;
	justify-content: center;
	padding: 25px;
}
.ballElement {
	display: flex;
	align-items: center;
	margin-left: 5px;
}
.rope {
	width: 20px;
	height: 2px;
	background: red;
}
.ball {
	width: 50px;
	height: 50px;
	border: 1px solid red;
	border-radius: 50%;
	position: relative;
}


.controls {
	border: 1px solid red;
	display: flex;
	justify-content: center;
	margin-top: 50px;
}
.button {
	border: 1px solid red;
	width: 50px;
	height: 50px;
	border-radius: 5px;
	line-height: 50px;
	margin-left: 15px;
	text-align: center;
	font-size: 35px;
	font-weight: bold;
	cursor: pointer;
	user-select: none;
}

.template {
	display: none;
}

@keyframes flying {
	0% {
		top: 0;
	}
	25% {
		top: -7px;
	}
	50% {
		top: 0;
	}
	75% {
		top: 7px;
	}
	100% {
		top: 0;
	}
}

.flyingBallAnim {
	animation: flying 6s cubic-bezier(.3,.72,.85,.79) infinite;
	&.even {
		animation-direction: reverse;
	}
}